@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 34 197 94;
  --accent-muted: 22 163 74;
  --danger: 239 68 68;
}

body {
  font-family: "JetBrains Mono", "SF Mono", "Fira Code", monospace;
}

@layer base {
  * {
    @apply border-zinc-800;
  }
}
